{% extends "base.html" %}

{% block title %}News &mdash; {{ SITENAME }}{% endblock %}

{% block content %}
<section class="page">
  <h1>News</h1>
  <div class="news-list">
    {% set news = articles | selectattr('category.name', 'equalto', 'news') | list %}
    {% for article in news %}
    <article class="news-item">
      <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.date.strftime('%b %-d, %Y') }}</time>
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <div class="news-summary">{{ article.summary }}</div>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
